django==5.1.4
django-stubs
ruff==0.7.3
mypy==1.13.0
djangorestframework
djangorestframework-stubs
drf-spectacular # for Swagger UI
drf-spectacular-sidecar # for Swagger UI
django-environ
psycopg2-binary
daphne
channels
django-cors-headers
parameterized
channels-redis
Pillow
redis
pytest-django
pytest-asyncio
pytest-mock
pytest-xdist
pyotp
qrcode
tblib
